/* VIEWER */
.buttons {
    -fx-background-color: #ababab;
    -fx-background-radius: 100;
    -fx-padding: 0;
}

.buttons:hover {
    -fx-background-color: #8a8a8a;
}

.button:disabled {
    -fx-background-color: #d0d0d0;
}

/* PDFVIEWER */
.path {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #d3cfc9;
    -fx-padding: 0 0 0 15;
}

.pageNumber {
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 15;
}

/* PagePreview */
.previewButtons {
    -fx-border-radius: 0;
    -fx-border-color: #535353;
    -fx-background-color: #121212;
    -fx-text-fill: #d3cfc9;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.previewButtons:hover {
    -fx-border-color: #d3cfc9;
}

.preview-vbox {
    -fx-background-color: #121212;
}

/*PageChooser*/
.labelPageChooser {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #d3cfc9;
}

.textFieldPageChooser {
    -fx-alignment: center;
    -fx-border-radius: 0;
    -fx-border-color: #535353;
    -fx-background-color: #121212;
    -fx-font-weight: bold;
    -fx-text-fill: #d3cfc9;
}

.textFieldPageChooser:focused {
    -fx-border-color: #535353;
}

/* ALL */
/*Label*/
.label {
    -fx-font-size: 13;
    -fx-text-fill: #d3cfc9;
}

/* ScrollBar*/
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #454a4d;
    -fx-background-radius: 0;
    -fx-border-radius: 1;
    -fx-background-insets: 0, 0, 0, 0;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #575e62;
    -fx-background-insets: -1, -1, -1, -1;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #575e62;
    -fx-background-insets: -1, -1, -1, -1;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

/*MenuBar*/

.menu-bar {
    -fx-background-color: #090909;
    -fx-border-radius: 2;
    /*-fx-border-color: #2a5378;*/
}

.menu {
    -fx-background-color: #090909;
}

.menu:hover {
    -fx-background-color: #454a4d;
}

.menu-item {
    -fx-background-color: #121212;
    -fx-text-fill: #d3cfc9;
}

.context-menu {
    -fx-background-color: #121212;
}

.menu-item:hover {
    -fx-background-color: #454a4d;
}

/*SplitPane*/

.splitpane {
    -fx-background-color: #121212;
}

.splitpane:horizontal .split-pane-divider {
    -fx-background-color: #d3cfc9;
}

.splitpane .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
}

/*ROOT*/
.root {
    -fx-background-color: #090909;
}

.split-pane {
    -fx-background-color: #121212;
}

.stackpane {
    -fx-background-color: #121212;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}