/* VIEWER */
.buttons{
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 30;
    -fx-border-color: #bababa;
    -fx-border-radius: 30;
    -fx-padding: 0 0 0 0;
    /*-fx-effect: dropshadow(gaussian, #000, 1, 0.5, 1, 1)*/
}

.buttons:hover{
    -fx-background-color: #bababa;
    -fx-padding: 2 0 0 2;
}

/* PDFVIEWER */
.path{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #30343b;
    -fx-padding: 0 0 0 15;
}

.pageNumber{
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 15;
}

/* PagePreview */
.previewButtons{
    -fx-border-radius: 2;
    -fx-border-color: #bababa;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.previewButtons:hover{
    -fx-border-color: #bababa;
}
/*PageChooser*/
.labelPageChooser{
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.textFieldPageChooser{
    -fx-alignment: center;
    -fx-border-radius: 0;
    -fx-border-color: #bababa;
    -fx-background-color: #f4f4f4;
    -fx-font-weight: bold;
}
.textFieldPageChooser:focused{
    -fx-border-color: #535353;
}

/* ALL */
/*Label*/
.label{
    -fx-font-size: 13;
    -fx-text-fill: #30343b;
}

/* ScrollBar*/
.scroll-bar{
    -fx-background-color: transparent;
}

.scroll-bar .track{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar .thumb{
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar:hover .thumb{
    -fx-background-color: #bababa;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

.scroll-bar:hover .increment-button ,
.scroll-bar:hover .decrement-button {
    -fx-background-color:derive(gray,100%);
}

/*MenuBar*/

.menu-bar{
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 2;
    -fx-border-color: #bababa;
}

.menu{
    -fx-background-color: #f4f4f4;
}

.menu:hover{
    -fx-background-color: #bababa;
}

.menu-item{
    -fx-background-color: #f4f4f4;
}

.context-menu{
    -fx-background-color: #f4f4f4;
    -fx-border-radius: 2;
    -fx-border-color: #bababa;
}

.menu-item:hover{
    -fx-background-color: #bababa;
}

/*SplitPane*/

.splitpane:horizontal .split-pane-divider {
   /*-fx-background-color: transparent;*/
}

.splitpane .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
}
/*TabPane*/
.tabPane{
    -fx-background-color: #f4f4f4;
    -fx-border-color: #bababa;
}

.tab-pane .tab{
    -fx-background-color: #f4f4f4;
}

.tabPane .tab:hover{
    -fx-background-color: #bababa;
}

.tabPane .tab:selected{
    -fx-background-color: #bababa;
}

/*Tab*/
.tab .tab-label{
    -fx-text-fill: #828282;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-border-radius: 0;
}

.tab:selected .tab-label{
    -fx-text-fill: #535353;
}
