.label {
    -fx-text-fill: #c9d1d9;
}

.text-field {
    -fx-background-color: #24292e;
    -fx-text-fill: #c9d1d9;
    -fx-border-color: #444d56;
    -fx-accent: #388bfd;
    -fx-alignment: center;
}

.text-field:focused {
    -fx-border-color: #0366d6;
}