/* Pane */
.pdfcontent {
    -fx-background-color: #f6f8fa;
}

/* Hyperlink */
.hyperlink {
    -fx-text-fill: #000;
    -fx-border-color: transparent;
}

.hyperlink:focused {
    -fx-font-weight: bold;
}

.hyperlink:visited {
    -fx-text-fill: #000;
    -fx-underline: false;
}

/* TreeView */
.tree-view {
    -fx-background-color: #f6f8fa;
    -fx-padding: 0 0 0 10;
}

.tree-cell {
    -fx-background-color: #f6f8fa;
}

.tree-cell:hover .hyperlink {
    -fx-font-weight: bold;
}

/* ScrollBar*/
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 0;
    -fx-border-radius: 1;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #bababa;
}

.scroll-bar:vertical {
    -fx-pref-width: 1.3em;
}

.scroll-bar:horizontal {
    -fx-pref-height: 1.3em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: derive(gray, 80%);
}

.scroll-bar .increment-button:hover,
.scroll-bar .decrement-button:hover {
    -fx-border-color: derive(gray, 50%);
}